/* CSS animation for payment selection block */
@keyframes slide-down {
	from {
		visibility: hidden;
		font-size: 0;
		height: 0;
		opacity: 0;
	}
	1% {
		visibility: visible;
		font-size: 0;
		height: 0;
		opacity: 1;
	}
	to {
		visibility: visible;
		font-size: 100%;
		height: 100%;
		opacity: 1;
	}
}
.slide-down {
	animation: slide-down 200ms ease-in-out forwards;
}

@keyframes slide-up {
	from {
		visibility: visible;
		font-size: 100%;
		height: 100%;
	}
	99% {
		visibility: visible;
		font-size: 0;
		height: 0;
	}
	  to {
		visibility: hidden;
		font-size: 0;
		height: 0;
	}
}
.slide-up {
	animation: slide-up 200ms ease-in-out forwards;
}

@keyframes expand {
	from {
		display: none;
		font-size: 0;
		width: 0;
	}
	1% {
		display: inherit;
		font-size: 0;
		width: 0;
	}
	to {
		display: inherit;
		font-size: 100%;
		width: 100%;
	}
}
.expand {
    animation: expand 200ms ease-in-out;
}
@keyframes contract {
	from {
		display: inherit;
		width: 100%;
	}
	99% {
		display: inherit;
		font-size: 0;
		width: 0;
	}
	  to {
		display: none;
		font-size: 0;
		width: 0;
	}
}
.contract {
    animation: contract 200ms ease-in-out;
}

/* CSS for payment selection block */
body.paying {
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    visibility: hidden;
}

.selectBox {
    position: fixed;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.paymentSelect {
    background-color: #FFFFFF;
    position: relative;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
}

.expand.paymentSelect {
    display: inherit;
}

.selectMethod {
    color: #9b5f5f;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.pay, .credit-pay {
    color: #202020;
    background-color: #ff6200;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 0.5rem;
    transition: transform 200ms ease-in-out;
}

.pay:hover, .credit-pay:hover {
    transform: scale(1.015);
}

.pay:active, .credit-pay:active {
    color: #151515;
    background-color: #cf4f00;
}

.pay {
    margin-bottom: 0.75rem;
}

.credit-pay {
    margin-bottom: 1.5rem
}

.backBtn {
    display: block;
    color: #202020;
    background-color: #ff6200;
    width: 10rem;
    height: 2.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    line-height: 2.25rem;
    text-align: center;
    margin: 0 auto;
}

.backBtn:hover {
    transform: scale(1.015);
}

.backBtn:active {
    color: #151515;
    background-color: #cf4f00;
}

@media (max-width: 64em) {
    .paymentSelect {
        font-size: 1.125rem;
    }

    .selectMethod {
        font-size: 1.3125rem;
    }

    .backBtn {
        width: 8.75rem;
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 1rem;
    }
}

@media (max-width: 40em) {
    .selectBox {
        width: 75%;
    }

    .paymentSelect {
        font-size: 1rem;
    }

    .selectMethod {
        font-size: 1.125rem;
    }

    .backBtn {
        width: 7.5rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.875rem;
    }
}

/* CSS for credit card payment block */
.useCredit {
    position: fixed;
    width: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.creditForm {
    background-color: #FFFFFF;
    position: relative;
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem;
    display: none;
}

.expand.creditForm {
    display: inherit;
}

.creditCompany {
    margin-bottom: 1rem;
    text-align: center;
}

.creditCompany img {
    vertical-align: middle;
    margin: 0 0.25rem;
}

.creditCompany img:first-child {
    height: 1.25rem;
}

.creditCompany img:nth-child(2) {
    height: 1.75rem;
}

.creditCompany img:last-child {
    height: 2rem;
}

.creditForm label {
    font-weight: 600;
}

.creditForm input:not(input[type="submit"]) {
    display: block;
    font-size: 1rem;
    font-family: "Maven Pro", sans-serif;
    width: 100%;
    height: 2rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
}

.creditForm input:not(input[type="submit"]):focus {
    outline: none;
}

.creditForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.row .csc {
    margin-left: 4rem;
}

.creditBackBtn, .creditPayBtn {
    display: block;
    color: #202020;
    background-color: #ff6200;
    width: 8rem;
    height: 2.25rem;
    font-family: "Maven Pro", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    line-height: 2.25rem;
    text-align: center;
    margin: 0 auto;
}

.creditPayBtn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.creditBackBtn:hover, .creditPayBtn:hover {
    transform: scale(1.015);
}

.creditBackBtn:active, .creditPayBtn:active {
    color: #151515;
    background-color: #cf4f00;
}

@media (max-width: 64em) {
    .creditForm {
        font-size: 1.125rem;
    }

    .creditForm input:not(input[type="submit"]) {
        font-size: 0.875rem;
        height: 1.75rem;
    }

    .creditPayBtn, .creditBackBtn {
        width: 7rem;
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 1rem;
    }
}

@media (max-width: 40em) {
    .useCredit {
        width: 75%;
    }

    .creditForm {
        font-size: 1rem;
    }

    .creditCompany img:first-child {
        height: 1rem;
    }
    
    .creditCompany img:nth-child(2) {
        height: 1.5rem;
    }
    
    .creditCompany img:last-child {
        height: 1.75rem;
    }

    .creditForm input:not(input[type="submit"]) {
        font-size: 0.75rem;
        height: 1.5rem;
    }

    .creditPayBtn, .creditBackBtn {
        width: 6rem;
        height: 2rem;
        line-height: 2rem;
        font-size: 0.875rem;
    }
}

/* CSS for payment table */
.paymentDisplay {
    background-color: #fffaf2;
    padding: 1.5rem 3.5rem;
}

@media (max-width: 64em) {
    .paymentDisplay {
        padding: 1.5rem 2.5rem 1.5rem;
    }
}

@media (max-width: 40em) {
    .paymentDisplay {
        padding: 1.5rem 0.75rem 1.5rem;
    }
}

.pageTitle {
    color: #9b5f5f;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.emptyCart {
    color: #3d3d3d;
    font-size: 1.25rem;
}

@media (max-width: 64rem) {
    .pageTitle {
        font-size: 1.75rem;
    }

    .emptyCart {
        font-size: 1.125rem;
    }
}

@media (max-width: 40rem) {
    .pageTitle {
        font-size: 1.5rem;
    }

    .emptyCart {
        font-size: 1rem;
    }
}

.payment {
    color: #3d3d3d;
    width: 100%;
    font-size: 1.125rem;
}

th {
    color: #9b5f5f;
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
}

td {
    padding-bottom: 0.75rem;
    height: 2rem;
}

@media (max-width: 64em) {
    .payment {
        font-size: 1rem;
    }

    th {
        font-size: 1.25rem;
        padding-bottom: 0.5rem;
    }
    
    td {
        padding-bottom: 0.25rem;
    }
}

@media (max-width: 40em) {
    .payment {
        font-size: 0.875rem;
    }

    th {
        font-size: 1.125rem;
        padding-bottom: 0.25rem;
    }

    td {
        padding-bottom: 0.25rem;
    }
}

.tableTitle {
    text-align: left;
}

.tableQuantity, .tablePrice {
    width: 15%;
}

.title {
    text-align: right;
    font-weight: bold;
}

.image img {
    width: 20rem;
    height: auto;
    border-radius: 0.25rem;
}

@media (max-width: 64em) {
    .tableQuantity, .tablePrice {
        width: 20%;
    }

    .image img {
        width: 15rem;
    }
}

@media (max-width: 40em) {
    .tableQuantity, .tablePrice {
        width: 25%;
    }

    .image img{
        display: none;
    }

    .title {
        text-align: left;
    }
}

.quantity, .price {
    text-align: center;
}

tfoot:before {
    content: "";
    background-color: #ff6200;
    position: absolute;
    right: 0;
    height: 0.375rem;
    width: 30%;
    border-radius: 1rem;
    transform: translateX(-17.5%);
}

@media (max-width: 64em) {
    tfoot:before {
        width: 37.5%;
        transform: translateX(-12.5%);
    }
}

@media (max-width: 40em) {
    tfoot:before {
        width: 45%;
    }
}

.tfootFirst {
    padding-top: 1rem;
}

@media (max-width: 40em) {
    tbody:last-child:last-child {
        padding-bottom: 2rem;
    }

    .tfootFirst {
        padding-top: 0.5rem;
    }
}

.tfootText {
    text-align: right;
}

.tfootNum {
    text-align: center;
}

.tfootTotal {
    color: #202020;
    font-weight: bold;
}

.buttonList {
    display: flex;
    justify-content: end;
    margin-top: 2rem;
}

@media (max-width: 40em) {
    .buttonList {
        justify-content: center;
    }
}

.formBtn {
    color: #202020;
    background-color: #ff6200;
    width: 9rem;
    height: 2.75rem;
    font-family: "Maven Pro", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    line-height: 2.75rem;
    text-align: center;
}

@media (max-width: 64em) {
    .formBtn {
        width: 7.75rem;
        height: 2.5rem;
        line-height: 2.5rem;
    }
}

@media (max-width: 40em) {
    .formBtn {
        width: 6.75rem;
        height: 2.25rem;
        line-height: 2.25rem;
        font-size: 0.875rem;
    }
}

.formBtn:not(:last-child) {
    margin-right: 0.75rem;
}

.formBtn:hover {
    transform: scale(1.05);
}

.formBtn:active {
    color: #151515;
    background-color: #cf4f00;
}

.formBtn a {
    color: #202020;
}

.formBtn:active a {
    color: #151515;
}