@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*{
    margin:0;
    padding: 0;
}

body{
    height: 100vh;
    background: #e7e7e7 url("../images/login_background.jpg") center no-repeat fixed;
    /* 背景全覆盖 */
    background-size: cover;
    /*  设置CSS背景模糊 */
    backdrop-filter: blur(5px);
    font-family: "Maven Pro", sans-serif;
}
.container{
    background-color: #e7e7e7;
    border-radius: 0.7rem;
    box-shadow:
            0 0.9rem 1.7rem rgba(0,0, 0, 0.25),
            0 0.7rem 0.7rem rgba(0,0, 0, 0.22);
    height: 420px;
    max-width: 750px;
    overflow:hidden;
    position: relative;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
}
/*   登录注册表单通用部分 */
.container-form{
    height: 100%;
    position: absolute;
    top:0;
    transition: all 0.6s ease-in-out;
}
/* 登录框-默认层级2-透明度1 */
.container-signin{
    left: 0;
    width: 50%;
    z-index: 2;
}
/*  注册框-默认层级1-透明度0 */
.container-signup{
    left:0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    height: 100%;
    text-align: center;
    background-color: #e7e7e7;
}
.form-title{
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.25rem;
}
.link{
    color: #333;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}
.input{
    width:100%;
    background-color: #fff;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    border: none;
    outline:none;
}
.btn{
    background-color: #5dc8f2;
    box-shadow: 0 4px 4px rgba(112, 184, 255, 0.3);
    border-radius:5px ;
    color:#e7e7e7;
    border:none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.form > .btn{
    margin-top: 1.5rem;
}
.btn:active{
    transform: scale(0.95);
}
.container-overlay{
    height: 100%;
    left:50%;
    overflow: hidden;
    position: absolute;
    top:0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}
.overlay{
    width: 200%;
    height: 100%;
    position: relative;
    left: -100%;
    background: url("../images/login_background.jpg") no-repeat center fixed;
    background-size: cover;
    transition: transform 0.6s ease-in-out;
    transform: translateX(0);
}
.overlay-panel{
    height: 100%;
    width: 50%;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}




@media screen and (min-width: 600px){
    #phone{
        display: none;
    }


}

@media screen and (max-width: 601px){
    #pc{
        display: none;
    }
    .container-signin{
        left: 0;
        width: 100%;
        z-index: 0;
    }
    .container-signup{
        left:0;
        opacity: 1;
        width: 100%;
        z-index: 1;
    }
}

.none{
    display: none;
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
/* 设计激活时叠加层的位置 */
.panel-active .overlay-left{
    transform:translateX(0);
}
.panel-active .container-overlay{
    transform:translateX(-100%);
}
.panel-active .overlay{
    transform: translateX(50%);
}
/* 设置激活时，登录注册层的位置和透明度 */
.panel-active .container-signin{
    transform: translateX(100%);
}
.panel-active .container-signup{
    opacity: 1;
    z-index: 6;
    transform: translateX(100%);
}




.popup{
    position: absolute;
    left: 50%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
    opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;
}
.popup.show{
    top: 50%;
    opacity: 1;
    z-index: 500;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
    opacity 0.2s 0s ease-in-out,
    transform 0.2s 0s ease-in-out;

}
.popup :is(header, .icons, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}
header span{
    font-size: 21px;
    font-weight: 600;
}
header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
}
header .close:hover{
    background: #ebedf9;
}
.popup .content{
    margin: 20px 0;
}
.popup .icons{
    margin: 15px 0 20px 0;
}
.content p{
    font-size: 16px;
}
.content .icons a{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}
.icons a i{
    transition: transform 0.3s ease-in-out;
}

.icons a:hover{
    color: #fff;
    border-color: transparent;
}
.icons a:hover i{
    transform: scale(1.2);
}
.content .field{
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px dashed #e1e1e1;
}
/* 遮罩层样式 */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
    z-index: 499; /* 确保遮罩层在弹窗下方 */
}

.send{
    text-align: center;
    width: 30%;

    padding: 0 0 0 0;
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 8px;
}

.send.disabled {
    background-color: #ccc; /* 禁用后按钮颜色 */
    cursor: not-allowed;
}

.code{
    width: 70%;

}

.field{
    display: flex;
    width: 100%;
}
