#hero{
    width: 100%;
}
#floatText{
    z-index: 100;
    position: absolute;
    top:30%;
    left: 10%;
    padding: 0.5% 0.1%;
    background-color: #CFCFCF;
    filter: opacity(95%);
}
#media{
    height: 3em;
}
.col{
    flex-flow: column;
    display: flex;
    flex-wrap: wrap;
}
.row{
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
}
.xxxLarge{
    font-size: xxx-large;
}
.bold{
    font-weight: bold;
}
#intro{
    color: #3D3D3D;
}
/*bannerColor:CFCFCF
  fontColor:3D3D3D*/