#hero{
    width: 100%;
}
#floatText{
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 10%;
    padding: 0.5% 0.1%;
    background-color: #CFCFCF;
    filter: opacity(95%);
}
#media{
    height: 3em;
}
.col{
    flex-flow: column;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.row{
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
}
.xxxLarge{
    font-size: 3.5rem;
}
.intro {
    font-size: 1.25rem;
    font-style: italic;
}
.intro p:not(:last-child) {
    margin-bottom: 1rem;
}
@media (max-width: 63.9375em) {
    .xxxLarge{
        font-size: 3rem;
    }
    .intro-content {
        font-size: 1.125rem;
    }
    .intro-content p:not(:last-child) {
        margin-bottom: 0.75rem;
    }
    #img2{
        display:none;
    }
    #floatText{
        display: none;
    }
}
@media (max-width: 39.9375em) {
    .xxxLarge{
        font-size: 2.5rem;
    }
    .intro-content {
        font-size: 1rem;
    }
    .intro-content p:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    #img2{
        display:none;
    }
    #floatText{
        display: none;
    }

}

.bold{
    font-weight: bold;
}
#intro{
    color: #3D3D3D;
}
/*bannerColor:CFCFCF
  fontColor:3D3D3D*/


