html, body, header, footer, hgroup, nav, main, article, section, figure, figcaption, h1, h2, h3,h4, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}
a{
    color: #3D3D3D;
    text-decoration: #CFCFCF;
}
body{
    margin: 0;
    padding: 0;
    background-color: #CFCFCF;
    font-family: "Maven Pro", sans-serif;
}
@media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
    }
}
@media (max-width: 63.9375em) {
    .hide-for-mobile {
        display: none;
    }
}
.button {
	background-color: #3d3d3d;
	position: relative;
	display: inline-block;
	padding: 0.25rem 1.875rem;
	border-radius: 2rem;
	font-size: 0.875rem;
	font-weight: 400;
	overflow: hidden;
	transition: all 100ms ease-in-out;
}
.button:hover {
	background-color: #202020;
	transform: scale(1.05);
	font-weight: 700;
}

/*CSS for header navigation bar*/
header {
	position: relative;
}
#logo{
    height: 60px;
}
.nav{
    font-size: large;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    color: #3D3D3D;
    background:#CFCFCF;
}
#topMenu{
    margin: 0 !important;
    flex-flow: row;
    width: fit-content;
    display: flex !important;
    align-items: center;
}
#topMenu > span {
    margin: 0 1rem;
}
@media (max-width: 64em) {
    #topMenu > span {
        margin: 0 0.5rem;
    }
}
@media (max-width: 40em) {
	#topMenu > span {
        margin: 0 0.25rem;
    }
}
#topMenu i{
    color: #3d3d3d;
    margin-right: 0.375rem;
}
#topMenu span a {
    transition: font-weight 200ms ease-in-out;
}
#topMenu span a:hover{
	color: #202020;
    font-weight: 700;
}
#topMenu span a:hover i{
	color: #202020;
}

/*CSS for hamburger button*/
.header-toggle > span {
	background-color: #3d3d3d;
  	display: block;
  	width: 1.625rem;
  	height: 0.15rem;
    margin: 0 1rem;
  	border-radius: 0.1rem;
  	transition: all 300ms ease-in-out;
  	transform-origin: 4px 1px;
}

@media (max-width: 64em) {
	.header-toggle > span {
		margin: 0 0.5rem;
	}
}

@media (max-width: 40em) {
	.header-toggle > span {
		margin: 0 0.25rem;
	}
}

.header.open .header-toggle > span:first-child {
	transform: rotate(45deg);
}

.header.open .header-toggle > span:nth-child(2) {
	opacity: 0;
}

.header.open .header-toggle > span:last-child {
	transform: rotate(-45deg);
}

.header-toggle > span:not(:last-child){
	margin-bottom: 0.25rem;
}

/*CSS for footer*/
.footer {
	color: #3d3d3d;
	background-color: #cfcfcf;
	padding: 1.75rem;
	text-align: center;
	box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}
@media (min-width: 64em) {
	.footer .container {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 3fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
		gap: 1rem;
		justify-items: start;
		font-size: 1rem;
	}	
	.footer_logo {
		align-self: end;
	}
	.footer_social {
		grid-area: social;
		margin-bottom: 0.5rem;
	}	
	.footer_social svg {
		width: 1.5rem;
		height: 1.5rem;
	}	
	.footer_links.col1 {
		grid-area: links1;
		justify-content: space-between;
	}	
	.footer_links.col2 {
		grid-area: links2;
		padding-top: 1rem;
		padding-bottom: 1rem;
		justify-content: space-around;
	}	
	.footer_cta {
		grid-area: cta;
		align-self: end;
		justify-self: end;
	}	
	.footer_cta .button{
		padding: 0.875rem 1.875rem;
	}	
	.footer_copyright {
		font-size: 0.8125rem;
		grid-area: copyright;
		align-self: start;
		justify-self: end;
		text-align: right;
		margin-bottom: 0.5rem;
	}
}

@media (max-width: 63.9375em) {
	.footer .container {
		font-size: 0.875rem;
	}	
	.footer_logo {
		margin-bottom: 1.5rem;
	}		
	.footer_social {
		margin-bottom: 1.5rem;
	}	
	.footer_social svg {
		width: 1.25rem;
		height: 1.25rem;
	}	
	.footer_links.col2 {
		margin-bottom: 1.5rem;
	}
	.footer_cta {
		margin-bottom: 1rem;
	}	
	.footer_cta .button{
		padding: 0.6875rem 1.875rem;
	}	
	.footer_copyright {
		font-size: 0.625rem;
	}
}
.footer a {
	color: #3d3d3d;
}
.footer_logo {
	display: inline-block;
	height: 60px;
}
.footer_logo img {
	height: 100%;
}
.footer_social a {
	display: inline-block;
}
.footer_social a:not(:last-child) {
	margin-right: 0.625rem;
}
.footer_social a:hover {
	transform: scale(1.075);
}
.footer_social a svg path {
	fill: #3d3d3d;
	transition: fill 200ms ease-in-out;
}
.footer_social a svg {
	transition: transform 150ms ease-in-out;
}
.footer_social a:hover svg {
	transform: scale(1.1);
}
.footer_social a:hover svg path {
	fill: #202020;
}
.footer_links {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer_links a {
	line-height: 2.5;
	transition: all 200ms ease-in-out;
}
.footer_links a:hover {
	color: #202020;
	font-weight: 700;
	transform: scale(1.05);
}
.footer_copyright {
	line-height: 1.5;
}
.footer .button {
	color: #cfcfcf;
}

/* CSS for Hamburger Menu */
#hamburgerMenu {
	background-color: #cfcfcf;
	position: absolute;
	top: 3.5rem;
	right: 0;
	border-radius: 0.5rem;
	overflow: hidden;
	text-align: right;
	display: none;
	box-shadow: -0.1rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#hamburgerMenu a {
	display: block;
	height: 2rem;
	width: 7.5rem;
	padding: 1rem;
}

@media (max-width: 64em) {
	#hamburgerMenu a {
		font-size: 1rem;
		width: 6rem;
	}
}

@media (max-width: 40em) {
	#hamburgerMenu a {
		font-size: 0.875rem;
		width: 4.5rem;
	}
}

#hamburgerMenu a:hover {
	background-color: #9f9f9f;
}

.open #hamburgerMenu {
	display: block;
}

/* Animation of Hamburger Menu */
@keyframes hamburger-down {
	from {
		display: none;
		font-size: 0;
		height: 0;
		opacity: 0;
	}
	1% {
		display: block;
		font-size: 0;
		height: 0;
		opacity: 1;
	}
	to {
		display: block;
		font-size: 100%;
		height: 12rem;
		opacity: 1;
	}
}
.hamburger-down {
	animation: hamburger-down 200ms ease-in-out forwards;
}

@keyframes hamburger-up {
	from {
		display: block;
		font-size: 100%;
		height: 6rem;
	}
	99% {
		display: block;
		font-size: 0;
		height: 0;
	}
	  to {
		display: none;
		font-size: 0;
		height: 0;
	}
}
.hamburger-up {
	animation: hamburger-up 200ms ease-in-out forwards;
}